In [1]:
import numpy as np
import pandas as pd
from pyquery import PyQuery as pq
import time
import datetime
import requests
import urllib.request
import os
import calendar
import pickle

In [2]:
# input
ETF_data = pd.read_csv('Emerging Asia Pacific ETF List (114).csv')

# filter the inception date
ETF_data['Inception'] = pd.to_datetime(ETF_data['Inception'], format="%d/%m/%Y")
date = datetime.datetime(2016, 1, 1, 0, 0)
ETF_data = ETF_data.loc[ETF_data['Inception'] < date,:].reset_index()

# extract symbol and name of each ETF
symbol_list = ETF_data['Symbol']
name_list = ETF_data['ETF Name']

In [3]:
with open('ETF_dic.pkl','rb') as f:
    dic = pickle.load(f)

In [19]:
browser=webdriver.Chrome('/Users/lou/Downloads/chromedriver') 
browser.get('https://finance.yahoo.com/')
browser.find_element_by_name('yfin-usr-qry').send_keys(dic['name'][0]+'\n')
# link = browser.
browser.find_element_by_class_name('')
browser.quit()

In [139]:
def get_the_last_day_of_month(start_date,end_date):
    ans = []
    temp = start_date - datetime.timedelta(1)
    year = start_date.year
    month = start_date.month
    
    while (temp < end_date):
        temp = temp + datetime.timedelta(calendar.monthrange(year,month)[1])
        ans.append(temp)
        month += 1
        if(month > 12):
            month = 1
            year += 1
    
    # check for trading day
    for i in range(len(ans)):
        if ans[i].isoweekday()>5:
            ans[i]=ans[i]+datetime.timedelta(days=5-ans[i].isoweekday())
    return ans

In [140]:
datetime.datetime(2018,12,31,0,0).isoweekday()

1

In [141]:
last_day_of_month = get_the_last_day_of_month(datetime.datetime(2016,1,1,0,0),datetime.datetime(2018,12,31,0,0))

In [142]:
last_day_of_month

[datetime.datetime(2016, 1, 29, 0, 0),
 datetime.datetime(2016, 2, 29, 0, 0),
 datetime.datetime(2016, 3, 31, 0, 0),
 datetime.datetime(2016, 4, 29, 0, 0),
 datetime.datetime(2016, 5, 31, 0, 0),
 datetime.datetime(2016, 6, 30, 0, 0),
 datetime.datetime(2016, 7, 29, 0, 0),
 datetime.datetime(2016, 8, 31, 0, 0),
 datetime.datetime(2016, 9, 30, 0, 0),
 datetime.datetime(2016, 10, 31, 0, 0),
 datetime.datetime(2016, 11, 30, 0, 0),
 datetime.datetime(2016, 12, 30, 0, 0),
 datetime.datetime(2017, 1, 31, 0, 0),
 datetime.datetime(2017, 2, 28, 0, 0),
 datetime.datetime(2017, 3, 31, 0, 0),
 datetime.datetime(2017, 4, 28, 0, 0),
 datetime.datetime(2017, 5, 31, 0, 0),
 datetime.datetime(2017, 6, 30, 0, 0),
 datetime.datetime(2017, 7, 31, 0, 0),
 datetime.datetime(2017, 8, 31, 0, 0),
 datetime.datetime(2017, 9, 29, 0, 0),
 datetime.datetime(2017, 10, 31, 0, 0),
 datetime.datetime(2017, 11, 30, 0, 0),
 datetime.datetime(2017, 12, 29, 0, 0),
 datetime.datetime(2018, 1, 31, 0, 0),
 datetime.datetime(2018, 2, 28, 0, 0),
 datetime.datetime(2018, 3, 30, 0, 0),
 datetime.datetime(2018, 4, 30, 0, 0),
 datetime.datetime(2018, 5, 31, 0, 0),
 datetime.datetime(2018, 6, 29, 0, 0),
 datetime.datetime(2018, 7, 31, 0, 0),
 datetime.datetime(2018, 8, 31, 0, 0),
 datetime.datetime(2018, 9, 28, 0, 0),
 datetime.datetime(2018, 10, 31, 0, 0),
 datetime.datetime(2018, 11, 30, 0, 0),
 datetime.datetime(2018, 12, 31, 0, 0)]

In [144]:
def get_all_symbol_csv(dic,chrome_filepath):
    
    # check directory
    if not os.path.isdir('./data'):
        os.mkdir('./data')

    options = webdriver.ChromeOptions()
    prefs = {'download.default_directory': './data'}
    options.add_experimental_option('prefs', prefs)
    browser=webdriver.Chrome(chrome_filepath,options=options) 
    
    for s in dic['symbol']:
        filepath = f'./data/{s}.csv'
        if os.path.isfile(filepath):
            print('File exist')
            continue
        url = f'https://finance.yahoo.com/quote/{s}/history?p={s}'
        browser.get(url)
        browser.find_element_by_css_selector("[class='C(t) O(n):f Tsh($actionBlueTextShadow) Bd(n) Bgc(t) Fz(14px) Pos(r) T(-1px) Bd(n):f Bxsh(n):f Cur(p) W(190px)']").click()
        start_date = browser.find_element_by_css_selector("[class='Bdrs(0) Bxsh(n)! Fz(s) Bxz(bb) D(ib) Bg(n) Pend(5px) Px(8px) Py(0) H(34px) Lh(34px) Bd O(n):f O(n):h Bdc($c-fuji-grey-c) Bdc($c-fuji-blue-1-b):f M(0) Pstart(10px) Bgc(white) W(90px) Mt(5px)']")
        start_date.clear()
        start_date.send_keys('1/1/2016')
        end_date = browser.find_element_by_css_selector("[class='Bdrs(0) Bxsh(n)! Fz(s) Bxz(bb) D(ib) Bg(n) Pend(5px) Px(8px) Py(0) H(34px) Lh(34px) Bd O(n):f O(n):h Bdc($c-fuji-grey-c) Bdc($c-fuji-blue-1-b):f M(0) Pstart(10px) Bgc(white) W(90px) Mt(5px) Mstart(15px)']")
        end_date.clear()
        end_date.send_keys('1/1/2019')
        time.sleep(5)
        
        try:
            browser.find_element_by_css_selector("[class=' Bgc($c-fuji-blue-1-b) Bdrs(3px) Px(20px) Miw(100px) Whs(nw) Fz(s) Fw(500) C(white) Bgc($actionBlueHover):h Bd(0) D(ib) Cur(p) Td(n)  Py(9px) Miw(80px)! Fl(start)']").click()
        except:
            browser.find_element_by_css_selector("[class=' Bd Bdc($c-fuji-blue-1-b) Bdrs(3px) Px(20px) Miw(100px) Whs(nw) Fz(s) Fw(500) D(ib) C($c-fuji-blue-1-b) Bdc($actionBlueHover):h C($actionBlueHover):h Cur(p) Td(n)  Py(8px) cancel Miw(80px)! Fl(end)']").click()
            browser.find_element_by_css_selector("[class='C(t) O(n):f Tsh($actionBlueTextShadow) Bd(n) Bgc(t) Fz(14px) Pos(r) T(-1px) Bd(n):f Bxsh(n):f Cur(p) W(190px)']").click()
            browser.find_element_by_css_selector("[class=' Bgc($c-fuji-blue-1-b) Bdrs(3px) Px(20px) Miw(100px) Whs(nw) Fz(s) Fw(500) C(white) Bgc($actionBlueHover):h Bd(0) D(ib) Cur(p) Td(n)  Py(9px) Miw(80px)! Fl(start)']").click()
        
        browser.find_element_by_css_selector("[class=' Bgc($c-fuji-blue-1-b) Bdrs(3px) Px(20px) Miw(100px) Whs(nw) Fz(s) Fw(500) C(white) Bgc($actionBlueHover):h Bd(0) D(ib) Cur(p) Td(n)  Py(9px) Fl(end)']").click()
        time.sleep(5)
        browser.find_element_by_css_selector("[class='Fl(end) Mt(3px) Cur(p)']").click()
        print('Download',s)

    browser.quit()

In [89]:
get_all_symbol_csv(dic,'/Users/lou/Downloads/chromedriver')

File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist
File exist

In [145]:
def combine_data(dic,last_day_of_month):
    com_data = pd.DataFrame(last_day_of_month[::-1],columns=['Date'])
    
    # Mask
    mask = [False for i in range(data['Date'].shape[0])]
    for day in last_day_of_month:
        temp = data['Date'] == day
        mask |= temp
        
    for s in dic['symbol']:
        data = pd.read_csv(f'./data/{s}.csv')
        data['Date'] = pd.to_datetime(data['Date'], format="%Y-%m-%d")
        data = data[mask]
        data_close = data_close['Close']
        com_data = com_data.merge(data[['Close']],on='Date',how='left')

In [146]:
s = dic['symbol'][2]
data = pd.read_csv(f'./data/{s}.csv')
data['Date'] = pd.to_datetime(data['Date'], format="%Y-%m-%d")
data.tail()

          Date   Open   High    Low  Close  Adj Close  Volume
749 2018-12-21  11.69  11.85  11.69  11.74      11.74   15500
750 2018-12-24  11.58  11.60  11.47  11.47      11.47    3900
751 2018-12-26  11.47  11.76  11.47  11.76      11.76   18200
752 2018-12-27  11.76  11.81  11.62  11.81      11.81    6400
753 2018-12-28  11.79  12.08  11.79  11.96      11.96    5200

In [147]:
mask = [False for i in range(data['Date'].shape[0])]
for day in last_day_of_month:
    temp = data['Date'] == day
    mask |= temp
data = data[mask]

In [152]:
data_c = data[['Date','Close']].reset_index()
data_c

    index       Date  Close
0      19 2016-01-29   9.39
1      39 2016-02-29   8.74
2      61 2016-03-31  10.29
3      82 2016-04-29  10.53
4     103 2016-05-31  10.50
5     125 2016-06-30  11.16
6     145 2016-07-29  12.00
7     168 2016-08-31  12.00
8     189 2016-09-30  11.91
9     210 2016-10-31  12.10
10    231 2016-11-30  11.03
11    252 2016-12-30  10.56
12    272 2017-01-31  11.88
13    291 2017-02-28  12.29
14    314 2017-03-31  13.07
15    333 2017-04-28  13.75
16    355 2017-05-31  13.48
17    377 2017-06-30  13.26
18    397 2017-07-31  14.30
19    420 2017-08-31  14.45
20    440 2017-09-29  14.14
21    462 2017-10-31  15.61
22    483 2017-11-30  15.25
23    503 2017-12-29  15.87
24    524 2018-01-31  15.60
25    543 2018-02-28  14.66
26    585 2018-04-30  14.36
27    607 2018-05-31  13.50
28    628 2018-06-29  12.61
29    649 2018-07-31  13.10
30    672 2018-08-31  13.35
31    691 2018-09-28  11.87
32    714 2018-10-31  11.02
33    735 2018-11-30  11.92